<div class="mx-auto w-1/2">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="w-100">
      <div class="field text-sky-900 mb-4">
        <%= f.label :email %><br/>
        <%= f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      class: "w-full rounded" %>
      </div>

      <div class="field text-sky-900 mb-4">
        <%= f.label :password %><br/>
        <%= f.password_field :password,
                         autocomplete: "current-password",
                         class: "w-full rounded" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field text-sky-900 mb-4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div
        class="
          actions mb-4 bg-sky-700 text-gray-50 text-center px-10 py-4 rounded-lg w-1/4
          mx-auto
        "
      >
        <%= f.submit "Log in" %>
      </div>
      <div class="w-3/4 mx-auto">
        <%= render "users/shared/links" %>
      </div>
    </div>
  <% end %>

</div>
